@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  h1, h2, h3, h4, h5, h6, p {
    @apply text-mocha-1000;
  }
}

html {
    background-color: #725536e0;
    font-family: 'Arial', 'Roboto';
}

.msg-wrapper {
  white-space: pre-wrap;
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.cl-card {
  background-color: theme(colors.mocha.100);
}

.cl-card span {
  color: theme(colors.mocha.1000);
}

.cl-card button {
  color: theme(colors.mocha.900);
}

.cl-card h1, .cl-card p {
  color: theme(colors.mocha.1000);
}

.cl-profileSectionPrimaryButton:hover {
  background-color: theme(colors.mocha.400);
}

.cl-formButtonPrimary {
  background-color: theme(colors.mocha.300);
}

.cl-formButtonReset:hover {
  background-color: theme(colors.mocha.400);
}