@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@layer components{
  h1, h2, h3, h4, h5, h6, p {
    @apply text-mocha-1000;
  }
}

html {
    background-color: #725536e0;
    font-family: 'Arial', 'Roboto';
}

.msg-wrapper {
  white-space: pre-wrap;
}